.row.carousel-holder
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      - @initial_images.each_with_index do |url, index|
        %li{"data-slide-to" => index, "data-target" => "#carousel-example-generic", class: "#{index == 0 ? 'active' : ''}"}
    .carousel-inner
      - @initial_images.each_with_index do |url, index|
        .item{class: "#{index == 0 ? 'active' : ''}"}
          = image_tag(url, style:"height:300px;" )
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
      %span.glyphicon.glyphicon-chevron-right
.row
  - @products.each do |product|
    .col-sm-4.col-lg-4.col-md-4
      .thumbnail
        .img{style:"height:122px;" }
          - if product.images.count > 0
            = image_tag(product.images.first.file.url)
          - else
            = image_tag("http://placehold.it/320x150")
        .caption
          / %h4.pull-right $24.99
          %h4
            = link_to category_product_path(product.category.id, product.id) do
              %span.name
                = product.name
          %p
            = product.description
