= form_for [@product.category, @product] do |f|
  .form-group
    = f.label "Назва"
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label "Опис"
    = f.text_area :description, class: 'form-control'

  .form-group
    = f.label 'Категорія'
    = f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control'

  = f.submit 'Зберегти', class: 'btn btn-primary'
