.navbar.navbar-default.image
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    / Wrapper for slides
    .carousel-inner{role: "listbox"}
      .item.active
        = image_tag("2.jpg")
      .item
        = image_tag("shafa_kupe_42.jpg")
      .item
        = image_tag("1.jpg")
.navbar.navbar-default
  .container
    .nav-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Головна', root_path
        %li
          = link_to 'Каталог', products_path
        %li
          %a{href: '#'} Партнери
        %li
          %a{href: '/contacts'} Контакти
        - if admin_signed_in?
          %li
            = link_to('Вийти ', destroy_admin_session_path, method: :delete)
